<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>cookie</servlet-name>
        <servlet-class>cn.bdqn.servlet.cookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>yan</servlet-name>
        <servlet-class>cn.bdqn.servlet.yan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pan</servlet-name>
        <servlet-class>cn.bdqn.servlet.pan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Session</servlet-name>
        <servlet-class>cn.bdqn.servlet.Session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>cn.bdqn.servlet.register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookie</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/re</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>yan</servlet-name>
        <url-pattern>/yan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pan</servlet-name>
        <url-pattern>/pan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Config</servlet-name>
        <servlet-class>cn.bdqn.servlet.Config</servlet-class>
        <init-param>
            <param-name>namespace</param-name>
            <param-value>hhh</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>se</servlet-name>
        <servlet-class>cn.bdqn.servlet.se</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>cn.bdqn.servlet.log</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>se</servlet-name>
        <url-pattern>/s</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/l</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/kap.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Config</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>
</web-app>